/* Style pour la liste de transactions */
.transaction-list {
  display: flex;
  flex-wrap: wrap;  /* Pour permettre aux éléments de passer à la ligne si l'espace est insuffisant */
  gap: 20px;        /* Espace entre les éléments */
  justify-content: space-between;  /* Espace égal entre les éléments */
}

/* Style pour chaque carte de transaction */
.transaction-item {
  background-color: #a1a6b4;
  padding: 20px;
  border-radius: 8px;
  width: 200px;  /* Largeur de chaque carte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}

.transaction-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.transaction-item p {
  font-size: 14px;
  margin: 5px 0;
}
